body {
  font-family: Century Gothic;
  background-color: rgb(47, 46, 46);
  color: aliceblue;
}

#input {
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

.task-item {
  padding: 5px;
  font-size: 20px;
  font-family: Century Gothic;
}
